*{
    text-align: center;
    color: white;
}
header{
    background-color:peru;
    padding: 1%;
}
nav{
    background-color:dimgrey;
    padding: 1px;
}
section{
    
    background-color: violet;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

table{
    background-color: violet;
    margin-left: 0.1%;
    
    
}
td{
    padding-left: 230px;
    padding-right: 230px;
    padding-top: 170px;
}
tr:first-child td:nth-child(1), tr:first-child td:nth-child(2),
tr:nth-child(2) td:nth-child(1), tr:nth-child(2) td:nth-child(2){
    
    background-color: coral;
}

tr:first-child td:nth-child(3), tr:first-child td:nth-child(4),
tr:nth-child(2) td:nth-child(3), tr:nth-child(2) td:nth-child(4){
    
    background-color: rgb(212, 248, 6);
}

tr:nth-child(3) td:nth-child(1), tr:nth-child(3) td:nth-child(2),
tr:nth-child(4) td:nth-child(1), tr:nth-child(4) td:nth-child(2){
    background-color: rgb(80, 255, 80);
    float: center;
}
tr:nth-child(3) td:nth-child(3), tr:nth-child(3) td:nth-child(4),
tr:nth-child(4) td:nth-child(3), tr:nth-child(4) td:nth-child(4){
    background-color: rgb(6, 200, 248);
    float: center;
}

footer{
    background-color:gray;
    padding: 1%;
}

@media (max-width: 1000px) {
    tr:first-child td:nth-child(1), tr:first-child td:nth-child(2),
tr:nth-child(2) td:nth-child(1), tr:nth-child(2) td:nth-child(2){
    
    background-color: rgb(255, 80, 197);
}
}