*{
    margin: auto;
    padding: 30px;
    border-collapse: collapse;
}



th{
    border: 1px solid grey;
}
td{
    border: 1px solid grey;
}

.yellow{
    background-color: yellow;
}

.gray{
    background-color: gray;
}

.black{
    background-color: black;
}

.blue{
    background-color: blue;
}

tfoot{
    background-color: green;
}